<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aplikasi pencari nama restoran di Indonesia, disertai dengan rating dan kota asal">
    <meta name="theme-color" content="#424242"/>
    <title>Resto Apps</title>
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to Content >></a>
    <header class="app-bar">
    <div class="container">
        <button type="menu" id="hamburger-button" class="app-bar-menu">☰</button>
        <div class="brand">
            <img class="brand-logo" src="./favicon.png" alt="Resto App logo">
            <h1 class="brand-name"><a href="#/">Resto Apps</a></h1>
        </div>
        <nav id="drawer" class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="#/">Catalog</a></li>
                <li class="nav-item"><a href="#/favorite">Favorites</a></li>
                <li class="nav-item"><a href="https://github.com/sahrulhidayat">About Us</a></li>
            </ul>
        </nav>
    </div>
    </header>

    <main id="main-content"></main>

    <footer>
    Copyright &copy; 2021 - Resto Apps
    </footer>
</body>
</html>
